<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />

    <script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />

    <script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>现场挂号</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>
<body>
<article class="page-container">
    <form  method="post" class="form form-horizontal" name="form-member-add" id="form-member-add">
        <div class="row cl">
            <div class="formControls col-xs-2 col-sm-2">
                <!--<input  class="btn btn-primary radius" id="registrationformSubmit" type="submit" value="&nbsp;&nbsp;挂号&nbsp;&nbsp;">-->
                <button id="registrationformSubmit" class="btn btn-primary radius" type="button"> 挂 号 </button>
            </div>
            <div class="formControls col-xs-2 col-sm-2">
                <!--<input class="btn btn-primary radius" type="reset" value="&nbsp;&nbsp;清空&nbsp;&nbsp;">-->
                <button id="clear" type="reset" class="btn btn-primary radius"> 清 空 </button>
            </div>
            <label class="form-label col-xs-5 col-sm-5"></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1">挂号信息</label>
            <label class="form-label col-xs-11 col-sm-11"></label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>病历号：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" th:value="${recordId}" placeholder="" id="recordID" name="recordID" readonly="readonly">
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box"><select class="select" id="sex" name="sex">
					<option value="男">男</option>
					<option value="女">女</option>
				</select></span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>身份证号：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="identityId" name="identityId">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>出生日期：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="birthDate" name="birthDate" class="input-text Wdate" style="width:120px;">
                <input type="text" hidden="hidden" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>年龄：</label>
            <div class="formControls col-xs-1 col-sm-1">
                <input type="text" class="input-text" value="" placeholder="" id="age" name="age">
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>家庭住址：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>看诊日期：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" onfocus="WdatePicker({minDate:'%y-%M-#{%d+1}'})" id="visitDate" name="visitDate" class="input-text Wdate" style="width:120px;">
                <!--<input type="text" hidden="hidden" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax2" class="input-text Wdate" style="width:120px;">-->
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>午别：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box"><select class="select" id="mornOrAfter" name="mornOrAfter">
					<option value="上午">上午</option>
					<option value="下午">下午</option>
				</select></span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>科室：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box">
                    <select class="select" id="deptID" name="deptID" >
					    <option style='display: none'>请选择</option>
                        <option  th:each="dept:${depList}" th:text="${dept.getDeptName()}" th:value="${dept.getDeptId()}"></option>
                    </select>
                </span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>医生：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box">
                    <select class="select" id="docID" name="docID">
                        <option style='display: none'>请选择</option>
					</select>
                </span>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>挂号级别：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box"><select class="select" id="regisLevel" name="regisLevel">
					<option value="专家">专家</option>
					<option value="普通">普通</option>
				</select></span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>付费方式：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box"><select class="select" id="chargeWay" name="chargeWay">
					<option value="1">自费</option>
					<option value="2">医保</option>
				</select></span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>病历本：</label>
            <div class="formControls col-xs-2 col-sm-2">
				<span class="select-box"><select class="select" id="needForm" name="needForm">
					<option value="0">是</option>
					<option value="1">否</option>
				</select></span>
            </div>
            <label class="form-label col-xs-1 col-sm-1"><span class="c-red">*</span>挂号医生：</label>
            <div class="formControls col-xs-2 col-sm-2">
                <input type="text" class="input-text"
                       th:value="${session.doctorBean.getDocid()}" placeholder="" id="regisClerkID" name="regisClerkID" readonly="readonly">
            </div>
        </div>

    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script>

<script type="text/javascript">


    $(function () {

        // $("#deptID").empty();
        // $("#deptID").append("<option style='display: none'>请选择</option>");
        // $.ajax({
        //     type: "GET",
        //     url: "/addMember/dep",
        //     success: function (data) {
        //         for (var i = 0; i < data.length; i++) {

                        ////该语句会导致下面的读取#deptID的val()报错,原因是 <option value='"+data[i].deptID+"'> 中deptID必须全部小写
        //             $("#deptID").append("<option value='"+data[i].deptID+"'>"+data[i].deptName+"</option>");
        //         }
        //     }
        // });


    });

    $("#deptID").change(function () {//获取医生下拉列表
        var depdep = $('#deptID option:selected').val();

        $("#docID").empty();
        $("#docID").append("<option style='display: none'>请选择</option>");
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({"deptId": depdep}),
            url: "/addMember/doc",
            success: function (data) {
                if (jQuery.isEmptyObject(data)) {
                    modaldemo();
                    modalalertdemo("当前无医生", 1000);
                } else {
                    for (var i = 0; i < data.length; i++) {
                        $("#docID").append("<option value='"+data[i].docid+"'>" + data[i].docName + "</option>");
                    }
                }
            }
        })
    });
    //字符串判空方法
    function isBlank(str){
        if(str == "" || str == null || str == undefined){
            return true;
        }else {
            return false;
        }
    }

    $("#registrationformSubmit").click(function () {
        var recordID = document.forms["form-member-add"]["recordID"].value;
        var name = document.forms["form-member-add"]["name"].value;
        var sex = document.forms["form-member-add"]["sex"].value;
        var identityId = document.forms["form-member-add"]["identityId"].value;
        var birthDate = document.forms["form-member-add"]["birthDate"].value;
        var age = document.forms["form-member-add"]["age"].value;
        var address = document.forms["form-member-add"]["address"].value;
        var visitDate = document.forms["form-member-add"]["visitDate"].value;
        var mornOrAfter = document.forms["form-member-add"]["mornOrAfter"].value;
        var deptID = document.forms["form-member-add"]["deptID"].value;
        var docID = document.forms["form-member-add"]["docID"].value;
        var regisLevel = document.forms["form-member-add"]["regisLevel"].value;
        var chargeWay = document.forms["form-member-add"]["chargeWay"].value;
        var needForm = document.forms["form-member-add"]["needForm"].value;
        var regisClerkID = document.forms["form-member-add"]["regisClerkID"].value;

        //判断是否有未填项
        if(isBlank(name) || isBlank(sex) || isBlank(identityId) || isBlank(birthDate) || isBlank(age)
            || isBlank(address) || isBlank(visitDate) || isBlank(mornOrAfter) || isBlank(deptID) || isBlank(docID) || isBlank(regisLevel)
            || isBlank(chargeWay) || isBlank(needForm)){
            alert("请完善信息");
        }else {
            var param = {
                "recordId":recordID,
                "name": name,
                "sex": sex,
                "identityId":identityId,
                "birthDate":birthDate,
                "age":age,
                "address":address,
                "visitDate":visitDate,
                "mornOrAfter":mornOrAfter,
                "deptId":deptID,
                "docid":docID,
                "regisLevel":regisLevel,
                "chargeWay":chargeWay,
                "needForm":needForm,
                "regisClerkId":regisClerkID
            };
            $.ajax({
                url: "/register", //请求url
                data: param,    //请求参数
                async: true,    //是否异步
                success: function f(result) {

                    // window.confirm(result.msg); //新增用户成功提示框
                    location.href = "/addMember";   //重新加载界面，同步数据库信息

                }
            });
            window.confirm("挂号成功！");
        }
    });


</script>
</body>
</html>